body {
    font-family: 'Open Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    min-height: 70vh;
}

header {
    padding: 30px 0 20px 0;
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    background-color: #acacac;
}
h1 {
    font-weight: 700;
    color: #005f99; 
    margin-bottom: 10px;
}

h2 {
    color: #005f99;
    border-bottom: 1px solid #616161;
    padding-bottom: 5px;
    margin-top: 25px;
    font-weight: 600;
}

nav a {
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-weight: 500;
}
.nav-btn {
    border: 2px solid rgb(61, 61, 61);
    padding: 5px 10px;
    margin: auto;
}
nav a:hover {
    color: #ddd;
    background: #0077b6;
    border: 1px solid #0077b6;
    
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #0077b6;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn:hover {
    background: #005f99;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
}
li {
    margin-bottom: 8px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}
.info-table th, .info-table td {
    padding: 12px 15px;
    border: 1px solid #acacac;
}

.info-table th {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    font-size: 0.9em;
    color: #c0bfbf;
    background-color: #616161;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #0077b6;
    text-decoration: none;
}
.social-icons a:hover {
    color: #005f99;
    
}


